{% extends '@email/default/notification/body.html.twig' %}

{% block content %}
    <p>
        your command has been approved
    </p>
{% endblock %}

{% block action %}
    <spacer size="16"></spacer>
    <button href="{{ url('conference', { slug: conference.slug }) }}">Show</button>
{% endblock %}